.box {
  padding: 0.5em 1em;
  margin: 2em 0;
  font-weight: bold;
  color: #000000;/*文字色*/
  background: #FFF;
  border: solid 3px #6091d3;/*線*/
  border-radius: 10px;/*角の丸み*/
  display: flex;
}
.box p {
  margin: 0; 
  padding: 0;
  
}

.box1{
  display: flex;
}

.event__add__form{
  display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    font-size: 18px;
    color: #19a08c;
    font-weight: bold;   
}